{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contactgegevens</h1>
<p>
    Voor vragen, opmerkingen of meer informatie kun je contact opnemen met Training Factory:
</p>
<ul>
    <li>Locatie: Tinwerf 10, 2544 ED Den Haag</li>
    <li>Telefoon: 070-1234567</li>
    <li>Email: info@trainingfactory.nl</li>
    <li>Website: <a href="http://127.0.0.1:8000/">Training Factory</a></li>
    <li>Volg ons op social media:
        <ul>
            <li>Facebook: <a href="http://127.0.0.1:8000/">Training Factory</a></li>
            <li>Instagram: <a href="http://127.0.0.1:8000/">TrainingFactory</a></li>
            <li>Twitter: <a href="http://127.0.0.1:8000/">TrainingFactory</a></li>
        </ul>
    </li>
</ul>
<p>
    We staan klaar om je te helpen en kijken uit naar je bezoek aan Training Factory!
</p>
{% endblock %}
