{% extends 'base.html.twig' %}

{% block title %}Hello GedragController!{% endblock %}

{% block body %}
<h3>Gedragsregels</h3>
<p>
    Om een veilige en prettige omgeving te creëren voor alle sportschoolbezoekers, vragen we je om je aan de volgende gedragsregels te houden:
</p>
<ul>
    <li>Kleed je gepast en draag geschikte sportkleding.</li>
    <li>Gebruik een handdoek op de fitnessapparatuur en maak deze schoon na gebruik.</li>
    <li>Respecteer de persoonlijke ruimte van anderen en wacht geduldig op je beurt.</li>
    <li>Gebruik apparatuur en gewichten op de juiste manier en volg de instructies van het personeel op.</li>
    <li>Laat geen persoonlijke bezittingen onbeheerd achter en gebruik de aanwezige kluisjes.</li>
    <li>Houd de faciliteiten schoon en gooi afval in de daarvoor bestemde bakken.</li>
    </ul>
    <p>
        Bedankt voor je medewerking en samenwerking om de sportschoolervaring voor iedereen plezierig te maken!
    </p>
{% endblock %}
